#message-background {
    margin: 0;
    background: rgba(0,0,0,0.8);
    position: fixed;
    top: 0;
    right: 0;
    height: 100vh;
    width: 100vw;
    visibility: visible;
    z-index: 1000;
}
#start-message, #thanks-message {
    background: rgb(255, 255, 255);
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 10px;
    visibility: hidden;
}

#end-message {
    background: rgb(255, 255, 255);
    position: fixed;
    padding-left: 10px;
    padding-right: 10px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    visibility: hidden;
}
#end-message * {
    display: block;
    box-sizing: border-box;
    margin-top: 10px;
    margin-bottom: 10px;
}
#end-message input, #end-message select  {
    width: 100%;
}
.title-message {
    font-size: 200%;
    font-weight: bold;
}
#end-message #tech-level-title {
    margin-top: 30px;
    margin-bottom: 0px;
}

#end-message .options {
    margin: 0;
    display: flex;
    justify-content: center;
}

#end-message .option-label {
    padding: 0;
    margin: 0;
    width: 20%;
}
#end-message .option-label input{
    display: inline-block;
    width: 50%;
}
#selected-header {
    font-style: italic;
}
h1, h5, p.fs-14 {
    cursor: pointer !important;
}
.nivel {
    display: inline-block !important;
    width: 30%;
    font-size: 75%;
    margin-top: 0 !important;
    margin-bottom: 20px !important;
    text-align: center;
}